* {
    margin: 0;
    padding: 0;

    nav {
        background-color: #7a7070;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;

        section {
            margin-left: 5rem;
            color: white;
            font-style: italic;
            font-weight: bold;
            font-size: 2rem;
        }
        
        ul {
            display: flex;
            li {
                list-style: none;
                margin: 2rem;
                font-size: 1.5rem;
        
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    main {
        background-color: #e0d8d8;
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 1rem;

            div {
                background-color: white;
                margin: 1rem;
                padding-top: 1rem;
                border-radius: .3rem;

                img {
                    border-radius: 2%;
                }
            }

            .p_name {
                font-weight: bold;
                margin: .3rem 5rem;
            }

            .price {
                font-weight: bold;
                padding: 1rem;
            }

            button {
                width: 5vw;
                margin-bottom: 1rem;
                background-color: #9d8b8b;
                color: white;
                font-weight: bold;
                border-radius: .3rem;
                font-size: 1rem;
                padding: .2rem .5rem;
            }
        }
    }

    footer {
        background-color: #9a9090;
        padding: 3rem;

        center {
            font-size: large;
        }
    }
}


@media screen and (max-device-width: 480px) and (orientation: portrait) {

    nav {
        section {
            font-size: 1.1rem;
            margin-left: 2rem;
        }

        ul {
            li {
                margin: 1rem;
                font-size: 1rem;
            }
        }
    }

    main {
        .container {
            grid-template-columns: repeat(1, 1fr);

            button {
                width: 15vw;
            }
        }
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    nav {
        section {
            font-size: 2rem;
        }

        ul {
            li {
                margin: 1rem;
                font-size: 1.5rem;
            }
        }
    }

    main {
        .container {
            grid-template-columns: repeat(2, 1fr);

            button {
                width: 8vw;
            }
        }
    }
}